/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Navigation Bar Styles */
.navbar {
    background-color: #03284e; 
}

.navbar-brand, .nav-link {
    color: #39bdde; /* Light Gray */
}

.nav-link:hover {
    color: #3498db; /* Bright Blue */
}

/* Background Image */
.background-image {
    background-image: url(me1.jpg); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Keeps the background image static */
    position: relative;
    height: 100vh; /* Full viewport height */
    display: flex;
    align-items: center;
    justify-content: right;
    color: #ffffff; 
    padding: right 40px;
}



.content {
    position: relative;
    z-index: 1; /* Places the content above the overlay */
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}
p {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size-adjust: initial;
    font-weight: bolder;
    color: #ffffff;
    text-align: right;


}
/* Projects Section */
section {
    padding: 50px 0;
}

h2 {
    font-size: 2
}


